In [1]:
## Load Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

import seaborn as sns
from sklearn.cluster import KMeans

In [9]:
## Load Files

pbp_scoring = pd.read_csv('PBP 00-21 Scoring Stats.csv')
pbp_assist = pd.read_csv('PBP 00-21 Assist Stats.csv')

pbp_scoring.head()

,Name,TeamAbbreviation,GamesPlayed,Minutes,OffPoss,Points,FG2M,FG2A,Fg2Pct,FG3M,...,FG3APct,ShotQualityAvg,EfgPct,TsPct,PtsPutbacks,Fg2aBlocked,FG2APctBlocked,Fg3aBlocked,FG3APctBlocked,Usage
0,LeBron James,LAL,1310,50058,96815,35367,10924,19866,0.549884,1979,...,0.224106,0.515469,0.542591,0.587057,948,940,0.047317,19,0.003311,31.382529
1,Dirk Nowitzki,DAL,1393,47491,91678,29740,8666,17444,0.496790,1852,...,0.217056,0.458633,0.513645,0.573262,586,674,0.038638,9,0.001861,26.903367
2,Joe Johnson,HOU,1276,44235,83993,20405,5844,12388,0.471747,1978,...,0.300863,0.471000,0.497263,0.526358,390,613,0.049483,21,0.003939,22.568256
3,Carmelo Anthony,POR,1191,41721,82312,27370,8218,17444,0.471108,1582,...,0.204197,0.491525,0.483166,0.536944,1132,1367,0.078365,12,0.002681,29.941292
4,Paul Pierce,LAC,1222,41673,80239,24180,5935,12387,0.479131,1963,...,0.300920,0.500968,0.501129,0.565250,362,973,0.078550,55,0.010315,27.056251

In [14]:
df1 = pd.DataFrame(
    {
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
    ) 

df2 = pd.DataFrame(
    {
    "A": ["A4", "A5", "A6", "A7"],
    "B": ["B4", "B5", "B6", "B7"],
    "C": ["C4", "C5", "C6", "C7"],
    "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
    )

df3 = pd.DataFrame(
    {
    "A": ["A8", "A9", "A10", "A11"],
    "B": ["B8", "B9", "B10", "B11"],
    "C": ["C8", "C9", "C10", "C11"],
    "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
    )

frames = [df1, df2, df3]
result = pd.concat(frames)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11